<div class="container mt-5">

    <div class="input_search">
        <!-- <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
  -->
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark" (click)="navigateToAdd()" >Agregar</button>
      <button class="btn btn-primary" (click)="editDetallePrest()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteDetallePrestVehiculo()" >Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Id Detalle Prestamo</th>
          <th scope="col">Prestamo</th>
          <th scope="col">observaciones</th>
          <th scope="col">Kilometraje Inicial</th>
          <th scope="col">Kilometraje Final</th>
          <th scope="col">Vehiculo Prestado</th>
          <th scope="col">Fecha Devolucion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalleprestamovehiculos of getPaginatedDetallePrestVehiculo()">
          <td>
            <div class="form-check">
              <input id="check{{detalleprestamovehiculos.idDetallePrestamo}}" class="form-check-input" type="checkbox" (change)="updateSelectedPrestamoVehiculo(detalleprestamovehiculos.idDetallePrestamo)">
            <label class="form-check-label" for="check{{detalleprestamovehiculos.idDetallePrestamo}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ detalleprestamovehiculos.idDetallePrestamo }}</td>
          <td>
            <span *ngIf="!isEditing(detalleprestamovehiculos.idDetallePrestamo)">{{ detalleprestamovehiculos.prestamo }}</span>
            <input *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" id="prestamo{{detalleprestamovehiculos.idDetallePrestamo}}" [(ngModel)]="editableDetallePrestamoVehiculos.prestamo" type="text" class="form-control" title="Prestamo">
            </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamovehiculos.idDetallePrestamo)">{{ detalleprestamovehiculos.observaciones }}</span>
            <input *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" id="observaciones{{detalleprestamovehiculos.idDetallePrestamo}}" [(ngModel)]="editableDetallePrestamoVehiculos.observaciones" type="text" class="form-control" title="observaciones">
           </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamovehiculos.idDetallePrestamo)">{{ detalleprestamovehiculos.kmInicial }}</span>
            <input *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" id="kmInicial{{detalleprestamovehiculos.idDetallePrestamo}}" [(ngModel)]="editableDetallePrestamoVehiculos.kmInicial" type="text" class="form-control" title="kmInicial">
            </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamovehiculos.idDetallePrestamo)">{{ detalleprestamovehiculos.kmFinal }}</span>
            <input *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" id="kmFinal{{detalleprestamovehiculos.idDetallePrestamo}}" [(ngModel)]="editableDetallePrestamoVehiculos.kmFinal" type="text" class="form-control" title="kmFinal">
          </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamovehiculos.idDetallePrestamo)">{{ detalleprestamovehiculos.vehiculoPrestado }}</span>
            <input *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" id="vehiculoPrestado{{detalleprestamovehiculos.idDetallePrestamo}}" [(ngModel)]="editableDetallePrestamoVehiculos.vehiculoPrestado" type="text" class="form-control" title="vehiculoPrestado">
             </td>
  
          <td>
            <span *ngIf="!isEditing(detalleprestamovehiculos.idDetallePrestamo)">{{ detalleprestamovehiculos.fechaDevolucion }}</span>
            <input *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" id="fechaDevolucion{{detalleprestamovehiculos.idDetallePrestamo}}" [(ngModel)]="editableDetallePrestamoVehiculos.fechaDevolucion" type="text" class="form-control" title="fechaDevolucion">
            </td>
          <td>
            <button *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" (click)="saveDetallePrestamoVehiculo(detalleprestamovehiculos.idDetallePrestamo)" class="btn btn-success">Guardar</button>
          <button *ngIf="isEditing(detalleprestamovehiculos.idDetallePrestamo)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
         </td>
          
        </tr>
      </tbody>
    </table>
  
    <div>
        
        <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredPrestamoVehiculo.length" (click)="nextPage()">Siguiente</button>
   
        
       </div>
  </div>
  