<div class="container mt-5">

    <div class="input_search">
       <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark" (click)="navigateToAdd()">Agregar</button>
      <button class="btn btn-primary" (click)="editMarcaRepuesto()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteMarcaRepuesto()" >Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id Marca Repuesto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marcarepuesto of getPaginatedMarcaRepuesto()">
          <td>
            <div class="form-check">
              <input id="check{{marcarepuesto.idMarcaRepuesto}}" class="form-check-input" type="checkbox" (change)="updateSelectedMarcaRepuesto(marcarepuesto.idMarcaRepuesto)">
              <label class="form-check-label" for="check{{marcarepuesto.idMarcaRepuesto}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ marcarepuesto.idMarcaRepuesto }}</td>
          <td>
            <span *ngIf="!isEditing(marcarepuesto.idMarcaRepuesto)">{{ marcarepuesto.nombre }}</span>
            <input *ngIf="isEditing(marcarepuesto.idMarcaRepuesto)" id="nombre{{marcarepuesto.idMarcaRepuesto}}" [(ngModel)]="editableMarcaRepuesto.nombre" type="text" class="form-control" title="Nombre">
            </td>
          <td>
            <button *ngIf="isEditing(marcarepuesto.idMarcaRepuesto)" (click)="saveMarcaRepuesto(marcarepuesto.idMarcaRepuesto)" class="btn btn-success">Guardar</button>
            <button *ngIf="isEditing(marcarepuesto.idMarcaRepuesto)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>

           </td>
          
          
        </tr>
      </tbody>
    </table>
  
    <div>
        
        <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredMarcaRepuesto.length" (click)="nextPage()">Siguiente</button>
   
        
       </div>
  </div>
  