<div class="container mt-5">

    <div class="input_search">
        <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
  
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark" (click)="navigateToAdd()">Agregar</button>
      <button class="btn btn-primary" (click)="editDispositivo()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteDispositivo()" >Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Id Dispositivo</th>
          <th scope="col">Tipo Dispositivo</th>
          <th scope="col">Modelo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Marca</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dispositivos of getPaginatedDispositivo()">
          <td>
            <div class="form-check">
              <input id="check{{dispositivos.idDispositivos}}" class="form-check-input" type="checkbox" (change)="updateSelectedDispositivo(dispositivos.idDispositivos)"><!--updateSelectedMantenimiento(mantenimiento.idMantenimiento)        avisarme para hacer los arreglos-->
              <label class="form-check-label" for="check{{dispositivos.idDispositivos}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ dispositivos.idDispositivos }}</td>
          <td>
            <span *ngIf="!isEditing(dispositivos.idDispositivos)">{{ dispositivos.tipoDispositivo }}</span>
            <input *ngIf="isEditing(dispositivos.idDispositivos)" id="tipoDispositivo{{dispositivos.idDispositivos}}" [(ngModel)]="editableDispositivo.tipoDispositivo" type="text" class="form-control" title="Tipo Dispositivo">
            </td>
          <td>
            <span *ngIf="!isEditing(dispositivos.idDispositivos)">{{ dispositivos.modeloDispositivo }}</span>
            <input *ngIf="isEditing(dispositivos.idDispositivos)" id="modeloDispositivo{{dispositivos.idDispositivos}}" [(ngModel)]="editableDispositivo.modeloDispositivo" type="text" class="form-control" title="Modelo Dispositivo">
           </td>
          <td>
            <span *ngIf="!isEditing(dispositivos.idDispositivos)">{{ dispositivos.cantidad }}</span>
            <input *ngIf="isEditing(dispositivos.idDispositivos)" id="cantidad{{dispositivos.idDispositivos}}" [(ngModel)]="editableDispositivo.cantidad" type="text" class="form-control" title="Cantidad">
            </td>
          <td>
            <span *ngIf="!isEditing(dispositivos.idDispositivos)">{{ dispositivos.marca }}</span>
            <input *ngIf="isEditing(dispositivos.idDispositivos)" id="marca{{dispositivos.idDispositivos}}" [(ngModel)]="editableDispositivo.marca" type="text" class="form-control" title="Marca">
          </td>
          <td>
            <button *ngIf="isEditing(dispositivos.idDispositivos)" (click)="saveDispositivo(dispositivos.idDispositivos)" class="btn btn-success">Guardar</button>
            <button *ngIf="isEditing(dispositivos.idDispositivos)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="buttons" >
        
        <button [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button [disabled]="currentPage * itemsPerPage >= filteredDispositivos.length" (click)="nextPage()">Siguiente</button>
   
        
       </div>
  </div>
  