<div class="container mt-5">

  <div class="input_search">
      <!-- <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
-->
     </div>

  
   <div class="buttons-container">
    <button class="btn btn-dark" (click)="navigateToAdd()">Agregar</button>
    <button class="btn btn-primary" (click)="editModeloRepuesto()">Editar</button>
    <button class="btn btn-danger" (click)="deleteModeloRepuesto()">Eliminar</button>
  </div>
  

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id Modelo Repuesto</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Acciones</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelorepuesto of getPaginatedModeloRepuesto()">
        <td>
          <div class="form-check">
            <input id="check{{modelorepuesto.idModeloRepuesto}}" class="form-check-input" type="checkbox" (change)="updateSelectedModeloRepuesto(modelorepuesto.idModeloRepuesto)">
            <label class="form-check-label" for="check{{modelorepuesto.idModeloRepuesto}}">Seleccionar</label>
          </div>
        </td>
        <td>{{ modelorepuesto.idModeloRepuesto}}</td>
          <td>
          <span *ngIf="!isEditing(modelorepuesto.idModeloRepuesto)">{{ modelorepuesto.modelo }}</span>
          <input *ngIf="isEditing(modelorepuesto.idModeloRepuesto)" id="modelo{{modelorepuesto.idModeloRepuesto}}" [(ngModel)]="editableModeloRepuesto.modelo" type="text" class="form-control" title="Modelo">
          </td>
          <td>
            <span *ngIf="!isEditing(modelorepuesto.idModeloRepuesto)">{{ modelorepuesto.marca }}</span>
            <input *ngIf="isEditing(modelorepuesto.idModeloRepuesto)" id="marca{{modelorepuesto.idModeloRepuesto}}" [(ngModel)]="editableModeloRepuesto.marca" type="text" class="form-control" title="Marca">
            </td>

          <td>
            <button *ngIf="isEditing(modelorepuesto.idModeloRepuesto)" (click)="saveModeloRepuesto(modelorepuesto.idModeloRepuesto)" class="btn btn-success">Guardar</button>
            <button *ngIf="isEditing(modelorepuesto.idModeloRepuesto)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
          </td>
      
      </tr>
    </tbody>
  </table>

  <div>

      <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
    <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredModeloRepuesto.length" (click)="nextPage()">Siguiente</button>

      
     </div>
</div>