<div class="container mt-5">

    <div class="input_search">
        <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
  
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark"  (click)="navigateToAdd()" >Agregar</button>
      <button class="btn btn-primary" (click)="editRepuesto()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteRepuesto()" >Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Id Repuesto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Tipo Repuesto</th>
          <th scope="col">Modelo Repuesto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repuestos of getPaginatedRepuesto()">
          <td>
            <div class="form-check">
              <input id="check{{repuestos.idRepuesto}}" class="form-check-input" type="checkbox" (change)="updateSelectedTipoDispositivo(repuestos.idRepuesto)"><!--updateSelectedMantenimiento(mantenimiento.idMantenimiento)        avisarme para hacer los arreglos-->
              <label class="form-check-label" for="check{{repuestos.idRepuesto}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ repuestos.idRepuesto }}</td>
          <td>
            <span *ngIf="!isEditing(repuestos.idRepuesto)">{{ repuestos.cantidadInv }}</span>
            <input *ngIf="isEditing(repuestos.idRepuesto)" id="cantidadInv{{repuestos.idRepuesto}}" [(ngModel)]="editableRepuesto.cantidadInv" type="text" class="form-control" title="cantidadInv">
            </td>
          <td>
            <span *ngIf="!isEditing(repuestos.idRepuesto)">{{ repuestos.tipoRepuesto }}</span>
            <input *ngIf="isEditing(repuestos.idRepuesto)" id="modeloRepuesto{{repuestos.idRepuesto}}" [(ngModel)]="editableRepuesto.tipoRepuesto" type="text" class="form-control" title="tipoRepuesto">
           </td>
          <td>
            <span *ngIf="!isEditing(repuestos.idRepuesto)">{{ repuestos.modeloRepuesto }}</span>
            <input *ngIf="isEditing(repuestos.idRepuesto)" id="modeloRepuesto{{repuestos.idRepuesto}}" [(ngModel)]="editableRepuesto.modeloRepuesto" type="text" class="form-control" title="modeloRepuesto">
            </td>  
          <td>
            <button *ngIf="isEditing(repuestos.idRepuesto)" (click)="saveRepuesto(repuestos.idRepuesto)" class="btn btn-success">Guardar</button>
            <button *ngIf="isEditing(repuestos.idRepuesto)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
         </td>
          
        </tr>
      </tbody>
    </table>
  
    <div>
        
        <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredRepuesto.length" (click)="nextPage()">Siguiente</button>
   
        
       </div>
  </div>
  