
<div class="body">
    <div class="container">
      <div class="typereplacement-form">
        <h3>Agregar Tipo Repuesto</h3>
        <form #createTipoRepuesto="ngForm" (ngSubmit)="StoreTipoRepuesto(createTipoRepuesto)">
          <p class="form-group">
              <label for="id">Id Repuesto</label>
              <input type="number" id="id" class="input" name="id" #id="ngModel" [(ngModel)]="tipoRepuesto.idTipoRepuesto" required>
          </p>
          <p class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" class="input" name="name" #name="ngModel" [(ngModel)]="tipoRepuesto.nombre" required>
          </p>
         
          <p class="block button-group">
            <button type="submit" class="button">Guardar</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  
  
  