<div class="body">
  <div class="container">
    <div class="mante-form">
      <h3>Agregar Mantenimiento</h3>
      <form #createMantenimiento="ngForm" (ngSubmit)="StoreMantenimiento(createMantenimiento)">
        <div class="form-group">
          <label for="VehiculoId">Vehiculo </label>
          <select class="mt-3 p-1 rounded-sm" id="VehiculoId" name="VehiculoId" [(ngModel)]="mantenimiento.idVehiculo" required>
            <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.placaVehiculo">{{ vehiculo.placaVehiculo }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="TipoMantenimientoId">Tipo de mantenimiento </label>
          <select class="mt-3 p-1" id="TipoMantenimientoId" name="TipoMantenimientoId" [(ngModel)]="mantenimiento.tipoMantenimiento" required>
            <option *ngFor="let tipomantenimiento of tipomantenimientos" [value]="tipomantenimiento.idTipoMantenimiento">{{ tipomantenimiento.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="EmpleadoEncargadoId">Empleado encargado </label>
          <select class="mt-4 p-1" id="EmpleadoEncargadoId" name="EmpleadoEncargadoId" [(ngModel)]="mantenimiento.empleadoEncargado" required>
            <option *ngFor="let empleadoU of empleados" [value]="empleadoU.idEmpleado">{{ empleadoU.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fechaMantenimiento" class="details">Fecha de mantenimiento</label>
          <input type="date" id="fechaMantenimiento" name="fechaMantenimiento" [(ngModel)]="mantenimiento.fechaMantenimiento" required>
        </div>
        <div class="form-group">
          <span>Duración</span>
          <input type="text" id="duracionMantenimiento" name="duracionMantenimiento" #duracionMantenimiento="ngModel" [(ngModel)]="mantenimiento.duracionMantenimiento" required>
        </div>
        <div class="form-group">
          <span>Detalle del mantenimiento</span>
          <input type="text" id="detallesMantenimiento" name="detallesMantenimiento" #detallesMantenimiento="ngModel" [(ngModel)]="detalleMantenimiento.observaciones" required>
        </div>
        <div class="block button-group">
          <button type="submit" class="button">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
