<div class="container mt-5">

    <div class="input_search">
      <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
  
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark" (click)="navigateToAdd()" >Agregar</button>
      <button class="btn btn-primary" (click)="editTipoRepuesto()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteTipoDispositivo()" >Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id Tipo Repuesto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tiporepuesto of getPaginatedTipoRepuesto()">
          <td>
            <div class="form-check">
              <input id="check{{tiporepuesto.idtipoRepuesto}}" class="form-check-input" type="checkbox" (change)="updateSelectedTipoRepuesto(tiporepuesto.idtipoRepuesto)"><!--updateSelectedMantenimiento(mantenimiento.idMantenimiento)        avisarme para hacer los arreglos-->
              <label class="form-check-label" for="check{{tiporepuesto.idtipoRepuesto}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ tiporepuesto.idtipoRepuesto }}</td>
          <td>
            <span *ngIf="!isEditing(tiporepuesto.idtipoRepuesto)">{{ tiporepuesto.nombre }}</span>
            <input *ngIf="isEditing(tiporepuesto.idtipoRepuesto)" id="nombre{{tiporepuesto.idtipoRepuesto}}" [(ngModel)]="editableTipoRepuesto.nombre" type="text" class="form-control" title="Nombre">
            </td>
          <td>
            <button *ngIf="isEditing(tiporepuesto.idtipoRepuesto)" (click)="saveTipoRepuesto(tiporepuesto.idtipoRepuesto)" class="btn btn-success">Guardar</button>
            <button *ngIf="isEditing(tiporepuesto.idtipoRepuesto)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
           </td>
          
        </tr>
      </tbody>
    </table>
  
    <div>
        
        <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredTipoRepuesto.length" (click)="nextPage()">Siguiente</button>
   
        
       </div>
  </div>
  