
.table th{
  background-color: #222121;
  color: #F2F2F2;
  
  font-family: Georgia, serif;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
   
  }
  
  .text-center {
    text-align: center;
  }

.table button{
  margin: 5px;
}

.form-check{
  text-align: center;
  margin-left: 20px;
}

  .buttons-container {
    margin: 15px;
    position: relative;
    left: 35%;
    transform: translateX(50%);
}

.input_search {
  position: relative;
  width: 50%;
}

.input_search input {
  border-radius: 30px;
  width: 100%;
  outline: none;
  padding: 10px 20px;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  padding-right: 50px;
}

.input_search #search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.buttons-container button{
  outline: none;
  border: none;
  
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.buttons {
  outline: none;
  border: none;
  background-color: #222121;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;
}

.buttons:hover {
  background-color: #4b4a4a;
}

@media screen and (max-width: 768px) {
    .buttons-container {
        left: 30%;
    }
}

@media screen and (max-width: 480px) {
    .buttons-container {
        left: 5%;
    }
}

.btn-danger{
  margin-left: 5px;
}

.btnB{
  margin-left: 10px;
  
}