
<div class="body">
    <div class="container">
      <div class="TYPD-form">
        <h3>Agregar Tipo Dispositivo</h3>
        <form #createTipoDispositivo="ngForm" (ngSubmit)="StoreTipoDispositivo(createTipoDispositivo)">
          <p class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" class="input" name="name" #name="ngModel" [(ngModel)]="tipoDispositivo.nombre" required>
          </p>
         
          <p class="block button-group">
            <button type="submit" class="button">Guardar</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  
  
  