<div class="container mt-5">

    <div class="input_search">
        <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
  
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark" (click)="navigateToAdd()">Agregar</button>
      <button class="btn btn-primary" (click)="editDetallePrest()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteDetallePrestDispositivo()">Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Id Detalle Dispositvo</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Prestamo</th>
          <th scope="col">Dispositivo Prestado</th>
          <th scope="col">Fecha Devolucion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalleprestamodispositivos of getPaginatedDetallePrestDispositivo()">
          <td>
            <div class="form-check">
              <input id="check{{detalleprestamodispositivos.idDetallePrestamoDispositivo}}" class="form-check-input" type="checkbox" (change)="updateSelectedPrestamoDispositivo(detalleprestamodispositivos.idDetallePrestamoDispositivo)">
              <label class="form-check-label" for="check{{detalleprestamodispositivos.idDetallePrestamoDispositivo}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ detalleprestamodispositivos.idDetallePrestamoDispositivo }}</td>
          <td>
            <span *ngIf="!isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)">{{ detalleprestamodispositivos.observaciones }}</span>
            <input *ngIf="isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)" id="observaciones{{detalleprestamodispositivos.idDetallePrestamoDispositivo}}" [(ngModel)]="editableDetallePrestamoDispositivo.observaciones" type="text" class="form-control" title="Observaciones">
            </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)">{{ detalleprestamodispositivos.prestamo }}</span>
            <input *ngIf="isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)" id="prestamo{{detalleprestamodispositivos.idDetallePrestamoDispositivo}}" [(ngModel)]="editableDetallePrestamoDispositivo.prestamo" type="text" class="form-control" title="Prestamo">
           </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)">{{ detalleprestamodispositivos.dispositivosPrestado }}</span>
            <input *ngIf="isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)" id="dispositivosPrestado{{detalleprestamodispositivos.idDetallePrestamoDispositivo}}" [(ngModel)]="editableDetallePrestamoDispositivo.dispositivosPrestado" type="text" class="form-control" title="DispositivosPestados">
            </td>
          <td>
            <span *ngIf="!isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)">{{ detalleprestamodispositivos.fechaDevolucion }}</span>
            <input *ngIf="isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)" id="fechaDevolucion{{detalleprestamodispositivos.idDetallePrestamoDispositivo}}" [(ngModel)]="editableDetallePrestamoDispositivo.fechaDevolucion" type="text" class="form-control" title="fechaDevolucion">
          </td>
          <td>
            <button *ngIf="isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)" (click)="saveDetallePrestamoDispositivo(detalleprestamodispositivos.idDetallePrestamoDispositivo)" class="btn btn-success">Guardar</button>
            <button *ngIf="isEditing(detalleprestamodispositivos.idDetallePrestamoDispositivo)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
          </td>      
        </tr>
      </tbody>
    </table>
  
    <div>
        
        <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredPrestamoDispositivo.length" (click)="nextPage()">Siguiente</button>
   
        
       </div>
  </div>
  