

<div class="body">
  <div class="container">
    <div class="vehicle-form">
      <h3>Agregar Vehiculo</h3>
      <form #createVehiculo="ngForm" (ngSubmit)="StoreVehiculo(createVehiculo)">
        <p class="form-group">
            <label for="plate">Placa</label>
            <input type="text" id="placa" class="input" name="placa" #plate="ngModel" [(ngModel)]="vehiculo.placaVehiculo" required>
        </p>
        <p class="form-group">
          <label for="model">Modelo</label>
          <input type="text" id="model" class="input" name="model" #model="ngModel" [(ngModel)]="vehiculo.modelo" required>
        </p>
        <p class="form-group">
          <label for="brand">Marca</label>
          <input type="text" id="brand" class="input" name="brand" #brand="ngModel" [(ngModel)]="vehiculo.modelo" required>
        </p>
       
       
        <p class="block button-group">
          <button type="submit" class="button">Guardar</button>
        </p>
      </form>
    </div>
  </div>
</div>


