<body>
    <div>
        <section id="container">
            <img src="../assets/img/fondoo.png" alt="Katza">
            <div class="capa">
                <h1>¿Quiénes somos?</h1>
                <p class="h2">
                    Somos una empresa profundamente arraigada en las tradiciones y la rica historia de la cultura guanacasteca. Nos enorgullece ser una de las principales fuentes de empleo en la región, impulsando el desarrollo económico y social en nuestras comunidades.
                </p>
            </div>
        </section>
    
    </div>
    <div id="anuncios" class="mt-4">
        <div class="col-lg-6">
            <h2>Nuestra Misión</h2>
            <img src="../assets/img/img4.png" alt="Mission Image">
            <p>Trabajamos la tierra para obtener el mejor producto. Procesamos la caña de azúcar, utilizando los mejores recursos e innovaciones tecnológicas para crear productos de calidad con los cuales generamos desarrollo sustentable y bienestar a nuestros trabajadores y a la comunidad, respetando siempre el medio ambiente.</p>
        </div>
        <div class="col-lg-6">
            <h2>Nuestra Visión</h2>
            <img src="../assets/img/img5.png" alt="Vision Image">
            <p>Ser una empresa comprometida con el desarrollo social y humano de sus trabajadores, generando rentabilidad mediante los procesos del cultivo de la caña de azúcar, con el fin de ser los líderes en innovación, calidad de productos, compromiso social y ambiental, para crecer de la mano con nuestras comunidades.</p>
        </div>
    </div> 
   
</body>
