<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <img src="../assets/img/1.png" alt="Logo" class="img-fluid">
        </div>
    </div>
</div>

<!--INICIO DEL FOOTER-->
<div>
    <div class="row no-gutters p-5 text-white" style="background-color: #31312F;">
        <div class="col-lg-3">
            <p class="h3 type">KATZA</p>
            <div class="row justify-content-left">
                <div class="col-md-7 text-center">
                    <img src="../assets/img/2.png" alt="Logo" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3 type2">Contactos</p>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Sugerencias: </a>
                <a class="text-white text-decoration-none type" href="#">katza.com</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Teléfono: </a>
                <a class="text-white text-decoration-none type" href="#"></a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Correo: </a>
                <a class="text-white text-decoration-none type" href="#">info.katza.com</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3 type2">Links</p>
            <div class="mb-2">
                <a class="text-white text-decoration-none type" href="#">Terms & Conditions</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type" href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3 type2">Creadores</p>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Randall Álvarez</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Camilo Redondo</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Nathali Chacón</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Christian Chaves</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none type">Lelany Fernández</a>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#A09F8D;">
      <div class="text-center">
        © 2024 Derechos Reservados:
      <a class="text-dark text-decoration-none" href="https://tusitio.com/">katza.com</a>
      </div>

      
  </div>
</div>
<!--FIN DEL FOOTER-->
