<div>
    <section id="galeria2">
        <div class="text-center pt-3 m-3 mt-3">
            <h1>¿Quienes somos?</h1>
        </div>
        <div>
            <p class="h4 m-4">
                Somos una empresa profundamente arraigada en las tradiciones y la rica historia de la cultura guanacasteca. Nos enorgullece ser una de las principales fuentes de empleo en la región, impulsando el desarrollo económico y social en nuestras comunidades.
            </p>
        </div>
    </section>
    <section id="galeria">
        
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/img4.jpg" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/logoo.png" alt="Galeria Imagen">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="../assets/img/img5.png" alt="Galeria Imagen">
            </div>

        </div>

    </section>
    <div id="anuncios" class="mt-4 m-4">
        <div class="col-lg-6">
          <h2>Nuestra Misión</h2>
          <img src="../assets/img/img3.jpg" alt="Mission Image">
          <p>Trabajamos la tierra para obtener el mejor producto. Procesamos la caña de azúcar, utilizando los mejores recursos e innovaciones tecnológicas para crear productos de calidad con los cuales generamos desarrollo sustentable y bienestar a nuestros trabajadores y a la comunidad, respetando siempre el medio ambiente.</p>
        </div>
        <div class="col-lg-6">
          <h2>Nuestra Visión</h2>
          <img src="../assets/img/img2.jpg" alt="Vision Image" class="pt-2">
          <p>Ser una empresa comprometida con el desarrollo social y humano de sus trabajadores, generando rentabilidad mediante los procesos del cultivo de la caña de azúcar, con el fin de ser los líderes en innovación, calidad de productos, compromiso social y ambiental, para crecer de la mano con nuestras comunidades.</p>
        </div>
      </div>
      
</div>
