<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div>
                <!--No eliminar porque va la imagen de fondo por url-->
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <h3 class="text-center tittle ">Registro</h3>
                
                    <form #singUp="ngForm" (ngSubmit)="onSubmit(singUp)">
                        <div class="input-field">
                            <input type="text" class="input" id="user-name" name="name" #name="ngModel" [(ngModel)]="user.name" required autocomplete="off">
                            <label for="user-name">User name</label>
                        </div>

                        <div class="input-field">
                            <input type="text" class="input" id="email" name="email" #name="ngModel" [(ngModel)]="user.email" required autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                        
                        <div class="input-field">
                            <input type="password" class="input" id="pass" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                            <label for="pass">Password</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Registrar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

