<div class="content">
    <h2 id="title" class="text">Funciones de Administrador</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="optionsBtn">
                <p class="text">Departamento</p>
                <div>
                    <button class="btn" (click)="navigateToAddDepapartamento()"><img src="../assets/img/lista.png" alt="Lista"/></button>                 </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Empleado</p>
                <div>
                    <button class="btn" (click)="navigateToAddEmpleado()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Vehiculo</p>
                <div>
                    <button class="btn" (click)="navigateToAddVehiculo()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div> 
            </div>
            <div class="optionsBtn">
                <p class="text">Respuesto</p>
                <div>
                    <button class="btn" (click)="navigateToAddRepuesto()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Dispositivo</p>
                <div>
                    <button class="btn" (click)="navigateToAddDispositivo()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="optionsBtn">
                <p class="text">Tipo Mantenimiento</p>
                <div>
                    <button class="btn" (click)="navigateToAddTipoMantenimiento()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Mantenimiento</p>
                <div>
                    <button class="btn" (click)="navigateToAddMantenimiento()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Prestamo Vehiculos</p>
                <div>
                    <button class="btn" (click)="navigateToAddPrestamoVehiculo()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Prestamo Dispositivos</p>
                <div>
                    <button class="btn" (click)="navigateToAddPrestamoDispositivo()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Tipo Repuesto</p>
                <div>
                    <button class="btn" (click)="navigateToAddTipoRepuesto()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
           
        </div>
    </div>
</div>