<div class="content">
    <h2 id="title" class="text">Funciones de Administrador</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="optionsBtn">
                <p class="text">Empleados</p>
                <div>
                    <button class="btn" (click)="navigateToAddEmpleado()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Tipo Mantenimiento</p>
                <div>
                    <button class="btn" (click)="navigateToAddTipoMantenimiento()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Tipo Dispositivos</p>
                <div>
                    <button class="btn" (click)="navigateToAddTipoDispositivo()"><img src="../assets/img/lista.png" alt="Lista"/></button>                 </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Marca Repuestos</p>
                <div>
                    <button class="btn" (click)="navigateToAddMarcaRepuestos()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div> 
            </div>

        </div>

        <div class="col-md-4">
            <div class="optionsBtn">
                <p class="text">Departamentos</p>
                <div>
                    <button class="btn" (click)="navigateToAddDepapartamento()"><img src="../assets/img/lista.png" alt="Lista"/></button>                 </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Prestamo Vehiculos</p>
                <div>
                    <button class="btn" (click)="navigateToAddPrestamoVehiculo()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Respuestos</p>
                <div>
                    <button class="btn" (click)="navigateToAddRepuesto()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Modelo Repuestos</p>
                <div>
                    <button class="btn" (click)="navigateToAddModeloRepuesto()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div> 
            </div>
        </div>

        <div class="col-md-4">
            <div class="optionsBtn">
                <p class="text">Mantenimientos</p>
                <div>
                    <button class="btn" (click)="navigateToAddMantenimiento()"><img src="../assets/img/lista.png" alt="Lista"/></button> 
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Prestamo Dispositivos</p>
                <div>
                    <button class="btn" (click)="navigateToAddPrestamoDispositivo()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            <div class="optionsBtn">
                <p class="text">Tipo Repuesto</p>
                <div>
                    <button class="btn" (click)="navigateToAddTipoRepuesto()"><img src="../assets/img/lista.png" alt="Lista"/></button>
                </div>
            </div>
            
           
    </div>
</div>