
<div class="body">
    <div class="container">
      <div class="presvehi-form">
        <h3>Agregar Prestamo Vehiculo</h3>
        <form #createPrestamoVehiculo="ngForm" (ngSubmit)="StorePrestamoVehiculo(createPrestamoVehiculo)">
          <div class="form-group">
            <label for="prestamoId">Prestamo</label>
            <select class="mt-3 p-1 rounded-sm" id="prestamoId" name="prestamoId" [(ngModel)]="Detalleprestamovehiculo.prestamo" required>
              <option *ngFor="let prestamos of prestamo" [value]="prestamos.idPrestamo">{{ prestamos.idPrestamo }}</option>
            </select>
          </div>
          <p class="form-group">
            <label for="Observaciones">Observaciones</label>
            <input type="text" id="Observaciones" class="input" name="Observaciones" #Observaciones="ngModel" [(ngModel)]="Detalleprestamovehiculo.observaciones" required>
          </p>

          <p class="form-group">
            <label for="KMI">Kilometraje Inicial</label>
            <input type="text" id="KMI" class="input" name="KMI" #KMI="ngModel" [(ngModel)]="Detalleprestamovehiculo.kmInicial" required>
          </p>
          <p class="form-group">
            <label for="KMF">Kilometraje Final</label>
            <input type="text" id="KMF" class="input" name="KMF" #name="ngModel" [(ngModel)]="Detalleprestamovehiculo.kmFinal" required>
          </p>
          <div class="form-group">
            <label for="VHP">Vehiculo</label>
            <select class="mt-3 p-1 rounded-sm" id="VHP" name="VHP" [(ngModel)]="Detalleprestamovehiculo.vehiculoPrestado" required>
              <option *ngFor="let vehiculos of vehiculos" [value]="vehiculos.placaVehiculo">{{ vehiculos.placa }}</option>
            </select>
          </div>
          <p class="form-group">
            <label for="FCD">Fecha Devolucion</label>
            <input type="date" id="FCD" class="input" name="FCD" #FCD="ngModel" [(ngModel)]="Detalleprestamovehiculo.fechaDevolucion" required>
          </p>
         
          <p class="block button-group">
            <button type="submit" class="button">Guardar</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  
  
  