* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

.body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color:#0D0D0D;
    box-shadow: 0 0 20px rgba(20, 75, 33, 0.5);
}



.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.button-group {
    grid-column: span 2;
}

.types-form form .button,
.types-form form input {
    width: 100%;
    padding: .7em;
    border: none;
    outline: 0;
    color: #0D0D0D;
    border-bottom: 1px solid #737373;
}

.types-form form .button {
    background-color: #2E5902;
    color: #F2F2F2;

    border: 0;
    text-transform: uppercase;
    padding: 0.5em;
    margin-top: 20px;
    
}

.types-form h3 {
    text-align: center;
    margin: 20px;
    padding: 1em;
}

.types-form form .button:hover,
.types-form form .button:focus {
    color: #0D0D0D;
    background-color: #68A629;
    transition: background-color ease-out, border 1s ease-out;
    outline: 0;
}

@media (max-width: 584px){
    .container2 {
        max-width: 100%;
    }
    form .author-details .input-box {
        margin: 20px 10px 12px 10px;
        width: 100%;
    }

    .container2 form .author-details {
     max-height:300px ;
     overflow-y: scroll;
    }

    .author-details::-webkit-scrollbar{
    width: 0;
    }

}

