<div class="body">
  <div class="container">
    <div class="types-form">
      <h3>Agregar Tipo Mantemiento</h3>
      <form #createTipoMantenimiento="ngForm" (ngSubmit)="StoreTipoMantenimeinto(createTipoMantenimiento)">
        <p class="form-group">
            <label for="name">Nombre Tipo Mantenimiento</label>
            <input type="text" id="name" class="input" name="name" #name="ngModel" [(ngModel)]="tipoMantenimeinto.nombre" required>
        </p>
       
        <p class="block button-group">
          <button type="submit" class="button">Guardar</button>
        </p>
      </form>
    </div>
  </div>
</div>


