<body> 
  <div class="row">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand mt-2" href="#">KATZA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="padding-top: 20px; margin-left: 10px;" aria-current="page" [routerLink]="['home']">Inicio</a>
            </li>
            <li class="nav-item dropdown" 
                (mouseenter)="isCategoryHovered = true" 
                (mouseleave)="isCategoryHovered = false">
              <a class="nav-link dropdown-toggle mt-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administración
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li *ngFor="let category of categories; let categoryIndex = index" class="dropdown-submenu">
                  <a class="dropdown-item" href="javascript:void(0);">
                    {{ category.name }}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" [class.show]="isCategoryHovered && selectedCategory?.id === category.id" >
                    <li *ngFor="let subItem of category.subItems">
                      <a class="dropdown-item" [routerLink]="['/' + subItem]">{{ subItem }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

   <!-- Footer -->
 <footer class="row">
  <div class="container-fluid p-5 text-white" style="background-color: #31312F;">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center">
        <img src="../assets/img/2.png" alt="Logo" class="img-fluid">
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="type2">Contactos</h5>
        <ul class="list-unstyled mb-0">
          <li><a class="text-white text-decoration-none type">Sugerencias: </a> <a href="#" class="text-white text-decoration-none type">katza.com</a></li>
          <li><a class="text-white text-decoration-none type">Teléfono: </a> <a href="#" class="text-white text-decoration-none type">+506 2233 4455</a></li>
          <li><a class="text-white text-decoration-none type">Correo: </a> <a href="#" class="text-white text-decoration-none type">info.katza.com</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="type2">Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-white text-decoration-none type">Terms & Conditions</a></li>
          <li><a href="#" class="text-white text-decoration-none type">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="type2">Creadores</h5>
        <ul class="list-unstyled mb-0">
          <li><a class="text-white text-decoration-none type">Randall Álvarez</a></li>
          <li><a class="text-white text-decoration-none type">Camilo Redondo</a></li>
          <li><a class="text-white text-decoration-none type">Nathali Chacón</a></li>
          <li><a class="text-white text-decoration-none type">Christian Chaves</a></li>
          <li><a class="text-white text-decoration-none type">Lelany Fernández</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center text-white py-3" style="background-color:#262626;">
    © 2024 Derechos Reservados: <a href="https://tusitio.com/" class="text-white text-decoration-none">katza.com</a>
  </div>
  </footer>
</body>