<div class="container mt-5">

    <div class="input_search">
        <input id="searchInput" type="text" class="input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
       </div>
  
    
     <div class="buttons-container">
      <button class="btn btn-dark" (click)="navigateToAdd()" >Agregar</button>
      <button class="btn btn-primary" (click)="editTipoDispositivo()" >Editar</button>
      <button class="btn btn-danger" (click)="deleteTipoDispositivo()" >Eliminar</button>
    </div>
    
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id Tipo Dispositivo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipodispositivo of getPaginatedTipoDispositivo()">
          <td>
            <div class="form-check">
              <input id="check{{tipodispositivo.idTipoDispositivo}}" class="form-check-input" type="checkbox" (change)="updateSelectedTipoDispositivo(tipodispositivo.idTipoDispositivo)">
              <label class="form-check-label" for="check{{tipodispositivo.idTipoDispositivo}}">Seleccionar</label>
            </div>
          </td>
          <td>{{ tipodispositivo.idTipoDispositivo }}</td>
            <td>
            <span *ngIf="!isEditing(tipodispositivo.idTipoDispositivo)">{{ tipodispositivo.nombre }}</span>
            <input *ngIf="isEditing(tipodispositivo.idTipoDispositivo)" id="nombre{{tipodispositivo.idTipoDispositivo}}" [(ngModel)]="editableTipoDispositivo.nombre" type="text" class="form-control" title="Nombre">
            </td>

            <td>
              <button *ngIf="isEditing(tipodispositivo.idTipoDispositivo)" (click)="saveTipoDispositivo(tipodispositivo.idTipoDispositivo)" class="btn btn-success">Guardar</button>
              <button *ngIf="isEditing(tipodispositivo.idTipoDispositivo)" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
            </td>
        
        </tr>
      </tbody>
    </table>
  
    <div>
      <button class="buttons" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
      <button class="buttons" [disabled]="currentPage * itemsPerPage >= filteredTipoDispositivo.length" (click)="nextPage()">Siguiente</button>
       </div>
  </div>
  