* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 500px;
    display: flex;
    box-shadow: 0 0 20px rgba(20, 75, 33, 0.5);
    border-radius: 5px;
}
.container-form{
    
    width: 100%;
}
.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-form h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container-form span{
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 25px;
}

.input-field {
    position: relative;
    margin-top: 20px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    color: #40414a;
    padding: 0 10px;
    font-size: 1.3em;
}

.input:focus {
    border-bottom: 1px solid #743ae1;
}

/* Aquí se posiciona el label sobre el input inicialmente */
.input-field label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 1.3em;
    color: #a3a3a3;
}

/* Mover el label cuando el input está enfocado o tiene texto */
.input:focus ~ label,
.input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 0.9em;
    color: #5d5076;
}

.container-form .button{
    width: 170px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    background-color: #2E5902;
    color: #F2F2F2;
    
}
.container-form .button:hover{
    background-color: #68A629;
    color: #090909;
    transition: background-color ease-out, border 1s ease-out;
    outline: 0;
}


/**/
.container-welcome{
    width: 100%;
    height: 100%;
    background-color: #2E5902;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 0 0 50%;

}
.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    color: white;
}
.container-welcome h3{
    margin-bottom: 30px;
    font-size: 40px;

}
.container-welcome p{
    font-size: 20px;
    text-align: center;
}
.container-welcome .button2{
    border: 2px solid white;
    background-color: #2E5902;
    margin-top: 30px;
    color: white;
    width: 170px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
}
/* Media Queries para responsividad */
@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        margin-bottom: 30px;
        flex-direction: column;
        height: auto; 
        width: 100%; 
        box-shadow: none; 
        border-radius: 0; 
    }

    .container-welcome {
        height: auto; 
        padding: 25%; 
        width: 100%;
        border-radius: 0;
    }

    .container-welcome h3 {
        font-size: 30px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    .container-welcome p {
        font-size: 16px; /* Ajusta el tamaño de la fuente del texto */
    }
    .container-form{
        height: auto;
        margin-bottom: 20px;
    }
    .container-form h2 {
        font-size: 28px; /* Reduce el tamaño de la fuente para el título */
    }

    .container-form span {
        font-size: 16px; /* Ajusta el tamaño del texto */
    }

    .input {
        font-size: 1em; /* Ajusta el tamaño del texto del input */
    }

    .container-form .button {
        width: 100%; /* Hace el botón del 100% del ancho */
        margin-bottom: 20px;
    }
    .container-welcome .button2 {
        height: auto;
        margin: 0;
        width: 100%; /* Ajusta el ancho del segundo botón */
    }
}
