<body>
    <div class="container">
        <div class="container-form">
            <form class="log-in" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <h2>Iniciar Sesión</h2>
                <span>Use su correo y contraseña</span>
                    <div class="input-field mt-4">
                        <input type="text" class="input" id="user-name" name="name" #name="ngModel" [(ngModel)]="user.name" required autocomplete="off" placeholder=" ">
                        <label for="user-name">Usuario</label>
                    </div>
                    <div class="input-field mt-5">
                        <input type="password" class="input" id="pass" name="password" #password="ngModel" [(ngModel)]="user.password" required autocomplete="off" placeholder=" ">
                        <label for="pass">Contraseña</label>
                    </div>
                <input type="submit" class="submit button" value="Iniciar Sesión">
            </form>
        </div>
        <div class="container-form">
            <div class="container-welcome">
                <div class="welcome-sign-up welcome">
                    <h3>¡Bienvenido!</h3>
                    <p>Ingrese sus datos personales para usar</p>
                    <p>todas las funciones del sitio</p>
                    <button type="button" class="button2" (click)="navigateToSingUp()">Registrarse</button>
                </div>
            </div>

        </div>
    </div>
</body>