<div class="body">
  <div class="container2">
    <div class="title">
      Agregar Departamento
    </div>

    <form #createDepartamento="ngForm" (ngSubmit)="StoreDepartamento(createDepartamento)">
      <div class="author-details">
     
        <div class="input-box">
          <span class="details"> Nombre Departamento </span>
          <input type="text" placeholder="Ingrese el nombre del departamento" id="name" name="name" #name="ngModel" [(ngModel)]="departamento.nombre"  required>
        </div>
        <div class="input-box">
          <span class="details">Descripcion </span>
          <input type="text" placeholder="Ingrese una breve descripcion" id="description" name="description" #description="ngModel" [(ngModel)]="departamento.descripcion" required>
        </div>

      </div>
      <div class="container3">
        <button type="submit" class="btn btn-save center">Guardar Departamento</button>
      </div>

      
    </form>

    
  </div>
</div>

