* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

.body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F2F2F2;
}

.container2 {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    background-color: #F2F2F2;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.icon-title {
    height: 50px;
    margin-right: 10px;
}

.container2 form .author-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .author-details .input-box {
    margin: 20px 10px 12px 10px;
    width: calc(50% - 20px);
}

.author-details .input-box .details {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.author-details .input-box input {
    height: 45px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #222121;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .btn-save {
    margin-top: 20px;
    text-align: center;
    position: relative;
    background-color: initial;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #222121;
    border-radius: 5px;
    cursor: pointer;
}

.container3 .btn-save:hover {
    background-color: #222121;
    color: white;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
    background-color: #F2F2F2;
    height: 42px;

  }

  select:focus {
    outline: none;
    border-color: black; 
  }


@media (max-width: 584px){
    .container2 {
        max-width: 100%;
    }
    form .author-details .input-box {
        margin: 20px 10px 12px 10px;
        width: 100%;
    }

    .container2 form .author-details {
     max-height:300px ;
     overflow-y: scroll;
    }

    .author-details::-webkit-scrollbar{
    width: 0;
    }

}