<div class="body">
  <div class="container">
    <div class="employee-form">
      <h3>Agregar Empleado</h3>
      <form #createEmpleado="ngForm" (ngSubmit)="StoreEmpleado(createEmpleado)">
        <p class="form-group">
            <label for="Cedula">Cedula</label>
            <input type="text" id="Cedula" class="input" name="Cedula" #cedula="ngModel" [(ngModel)]="empleado.cedula" required>
        </p>
        <p class="form-group">
          <label for="name">Nombre Empleado</label>
          <input type="text" id="name" class="input" name="name" #name="ngModel" [(ngModel)]="empleado.nombre" required>
        </p>
        <p class="form-group">
          <label for="lastname">Apellido Empleado</label>
          <input type="text" id="lastname" class="input" name="lastname" #lastname="ngModel" [(ngModel)]="empleado.apellidos" required>
        </p>
        <p class="form-group">
          <label for="mail">Correo</label>
          <input type="text" id="mail" class="input" name="mail" #mail="ngModel" [(ngModel)]="empleado.correo" required>
        </p>
        <p class="form-group">
          <label for="phone">Telefono</label>
          <input type="text" id="phone" class="input" name="phone" #phone="ngModel" [(ngModel)]="empleado.telefono" required>
        </p>
        <p class="form-group input-box">
          <label for="DepartamentoId" class="details">Departamento </label>
          <select id="DepartamentoId" name="DepartamentoId" [(ngModel)]="empleado.departamento" required>
            <option *ngFor="let departamento of Departamentos" [value]="departamento.idDepartamento">{{ departamento.nombre }}</option>
          </select>
        </p>
        <p class="form-group input-box">
          <label for="fechaContratacion" class="details">Fecha de Contratacion</label>
          <input type="date" id="fechaContratacion" name="fechaContratacion" [(ngModel)]="empleado.fechaContratacion" required placeholder="Seleccione fecha contratacion" title="Seleccione Fecha de Contratacion">
        </p>
        
        <p class="block button-group">
          <button type="submit" class="button">Guardar</button>
        </p>
      </form>
    </div>
  </div>
</div>
