* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

.body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color: #0D0D0D;
    box-shadow: 0 0 20px rgba(20, 75, 33, 0.5);
}

.marcarepuesto-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.button-group {
    grid-column: span 2;
}

.marcarepuesto-form form .button,
.marcarepuesto-form form input {
    width: 100%;
    padding: 0.7em;
    border: none;
    outline: 0;
    color: #0D0D0D;
    border-bottom: 1px solid #737373;
}

.marcarepuesto-form form .button {
    background-color: #2E5902;
    color: #F2F2F2;

    border: 0;
    text-transform: uppercase;
    padding: 0.5em;
    margin-top: 20px;
}

.marcarepuesto-form h3 {
    text-align: center;
    margin: 20px;
    padding: 1em;
}

.marcarepuesto-form form .button:hover,
.marcarepuesto-form form .button:focus {
    color: #0D0D0D;
    background-color: #68A629;
    transition: background-color ease-out, border 1s ease-out;
    outline: 0;
}

/* Estilos responsive para pantallas medianas */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        font-size: 1.2em;
    }
    
    .marcarepuesto-form form {
        grid-template-columns: 1fr;
    }

    .form-group {
        margin: 10px;
    }

    .marcarepuesto-form form .button {
        padding: 0.7em;
        margin-top: 10px;
    }
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 480px) {
    .container {
        max-width: 95%;
        font-size: 1em;
        padding: 15px;
    }

    .form-group {
        margin: 5px;
    }

    .marcarepuesto-form h3 {
        font-size: 1.2em;
        margin: 10px;
    }

    .marcarepuesto-form form .button {
        padding: 0.6em;
        margin-top: 15px;
    }
}

